span
	html
head
	link(rel='stylesheet', href='CSS/Style.css')

body
	.container
		nav#menu
			a.selected(data-attribute='about', href='Index.html') About

			a.selected(data-attribute='contacts', href='#articles') Articles

			a.selected(data-attribute='regions', href='#regions') Posts

			a.selected(data-attribute='news', href='#news') News

		#header
			.img
				form(action='https://google.com/search', method='GET')
					input(type='text', name='q', placeholder='Cautare', required='true')
					input(type='Submit')
		#content

			h1 Hello!

			p
				| Dear Visitor,
				I created Frog On A Blog in order to provide a forum for writers and fans of children's picture books to share their views on all-things picture books.

			p
			| In this gentle tale of kindness and giving, a peddler fails to sell a fine, handcrafted bed, guaranteed to never squeak, to a little man whose bed is barely more than a pile of blankets in a corner near his fireplace. But the peddler's heart is moved by the little man's generosity. When it's time to get back on the road, will the peddler leave behind the perfect gift of gratitude?
			p
				| You'll find interviews with picture book authors and illustrators on this page. All of these talented people were kind enough to take time out of their busy schedules to answer a few questions for picture book fans.
				|If you've ever wondered where picture book authors and illustrators get their inspiration or who your favorite author's favorite author is or why they do what they do, then click on the links below. I think you'll be enlightened, amused, or even surprised by some of the answers. Enjoy!
		#sidebar
			h2

			#diverse
				h1 Other
				p
					|In my position as a technical processing assistant at the DeWitt Community Library, I catalog a lot of new picture books. Unfortunately, I cannot review them all, but I do read them all and have assigned a :) to my favorites. Finley Frog's favorite is marked with a 8). Below are a few I've cataloged recently. (Whenever possible, summaries have been taken directly from the books.)


