span
   |<h2>Dog is the closest animal to human beings. It has been domesticated by the humans and proves to be very loyal for its owner. Dogs have been a part and parcel of the lives of most of us and it is not surprising to find them as common dream symbols. They reflect unconditional love and loyalty in dreams.</h2>

